@media screen and (max-width: 360px){
	.wrapper{
		.search_fight{
			display: none;
		}
		.fight_list{
			width: 100%;
			.fight_list_bloc{
				width: 100%;
				margin: 0 1% 15% 0;
				img{
					width: 100%;
				}
				.see_fight{
					display: none;
				}
				.list_fight_content{
					width: 100%;
					height: 70px;
					.nc{
						display: none;
					}
				}
			}
		}
	}
}