<div id="slider">
	<ul class="bjqs">
		<li><img src="templates/img/slide1.png" title="Reviver les plus grands combats"></li>
		<li><img src="templates/img/slide2.png" title="Suiver l'actulaité de la boxe"></li>
		<li><img src="templates/img/slide3.png" title="Rechercher un club en France"></li>
	</ul>
</div>
<section class="boxers_bloc">
	<h2 class="bg_gold">Boxeurs</h2>
	<article>
		<img src="templates/img/img1.png" class="border_gold">
		<p class="color_gold">Mike Tyson est un boxeur des année 80 qui a grandit dans le coin de Brownsville .</p>
		<div class="see"><span class="color_gold"></span><a href="#">Voir le boxeur<div class="underline bg_gold"></div></a></div>
	</article>
</section>
<section class="fights_bloc">
	<h2 class="bg_orange">Combats</h2>
	<article>
		<img src="templates/img/img2.png" class="border_orange">
		<p class="color_orange">Joe Frazier face à Muhammad Ali à été l’un des combat les plus violent des année 70</p>
		<div class="see"><span class="color_orange"></span><a href="#">Voir le combat<div class="underline bg_orange"></div></a></div>
	</article>
</section>
<section class="news_bloc">
	<h2 class="bg_blue">Actualitées</h2>
	<article>
		<img src="templates/img/img3.png" class="border_blue">
		<p class="color_blue">Floyd Mayweather reste Invaincu au bour de 44 combats consécutifs , à l’age de 36 ans</p>
		<div class="see"><span class="color_blue"></span><a href="#">Lire la news<div class="underline bg_blue"></div></a></div>
	</article>
</section>
<div class="somewords">
	<h2>BoxingSenior en quelques mots...</h2>
	<p>
		Retrouver un <a href="#" class="color_gold">boxeur</a> des années 1950 à aujourd'hui . Découvrez son parcours avec un contenu riche et interactif .
		Revivez les plus grands <a href="#" class="color_orange">combats</a> et championnats qui ont marqués l'histoire de la boxe.
		Tout les plus grands champions de Boxe poid lourd: Rocky Marciano , Muhammad Ali , Mike Tyson ou encore Wladimir Klitschko...
		Restez informé sur l'<a href="#" class="color_blue">actualitée</a> de la boxe.
		Noter un boxeur ou un combat et donnez y votre avis. Vous pouvez aussi chercher un <a href="#" class="color_marron">club</a> à travers toute la france !
	</p>
</div>