<header>
	<nav>
		<ul class="web_device">
			<li><a href="index.php">Boxing<em class="color_gold">Senior</em>.com</a></li>
			<li><a href="boxer_list.php" class="border_gold">Boxeurs</a><span class="bg_gold"></span></li>
			<li><a href="fight_list.php" class="border_orange">Combats</a><span class="bg_orange"></span></li>
			<li><a href="#" class="border_blue">Actualitées</a><span class="bg_blue"></span></li>
			<li><a href="#" class="border_marron">Clubs</a><span class="bg_marron"></span></li>
			<?php
			if(isset ($_SESSION['id'])){
				if( $_SESSION['id']!="" || $_SESSION['email']!=""){
			?>
			<li>
				<a href="#"><?php echo $_SESSION['pseudo']; ?></a>
			</li>
			<li>
				<a href="logout.php">Déconnexion</a>
			</li>
			<?php
				}
			}else{
			?>

			<li>
				<a href="#" id="connect">Connexion<div class="arrow_down"></div></a>
				<div class="login">
					<div class="arrow_up_border"><div class="arrow_up"></div></div>
					<form action="login.php" method="post">
						<input type="text" name="email" placeholder="Votre adresse email">
						<input type="password" name="password" placeholder="Votre mot de passe">
						<button type="submit">Se connecter</button>
					</form>
				</div>
			</li>
			<li>
				<a href="#" id="subscribe">Inscription<div class="arrow_down"></div></a>
				<div class="subscribe">
					<div class="arrow_up_border"><div class="arrow_up"></div></div>
					<form action="subscribe.php" method="post">
						<input type="text" name="pseudo" placeholder="Votre pseudo">
						<input type="email" name="email" placeholder="Votre adresse email">
						<input type="password" name="password" placeholder="Votre mot de passe">
						<button type="submit" name="subscribe">S'inscrire</button>
					</form>
				</div>
			</li>
			<?php
			}
			?>
		</ul>
	</nav>
</header>
<div class="mobile_device">
	<div class="mobil_header">
		<h1><a href="index.php">Boxing<em class="color_gold">Senior</em>.com</a></h1>
		<div class="mobil_btn"></div>
	</div>
	<nav>
		<ul class="mobil_ul">
			<li><a href="boxer_list.php" class="bg_gold">Boxeurs</a><span class="bg_gold"></span></li>
			<li><a href="fight_list.php" class="bg_orange">Combats</a><span class="bg_orange"></span></li>
			<li><a href="#" class="bg_blue">Actualitées</a><span class="bg_blue"></span></li>
			<li><a href="#" class="bg_marron">Clubs</a><span class="bg_marron"></span></li>
		</ul>
	</nav>
</div>